Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  hicpp-*,
  cert-*,
  misc-no-recursion
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|include)/'
FormatStyle: file
CheckOptions:
  - { key: readability-function-size.LineThreshold,      value: 10 }
  - { key: readability-function-size.NestingThreshold,   value: 1 }
  - { key: readability-function-size.StatementThreshold, value: 20 }
  - { key: readability-function-size.BranchThreshold,    value: 3 }
  - { key: readability-identifier-naming.FunctionCase,   value: lower_case }
  - { key: readability-identifier-naming.VariableCase,   value: lower_case }
